<div class="row" style="background-color: #f5f8fa">
    <div class="col-2"></div>
    <div class="col-10 mt-3 mb-3">
        <div class="info">
            <p class="signup-helper">
                Twitter'da yeni misin?
                <a id="login-signup-link" href="https://twitter.com/signup">Hemen kaydol »</a>
            </p>
            <p class="sms-helper">
                Twitter'ı zaten kısa mesaj yoluyla mı kullanıyorsun?
                <a href="/account/complete">Hesabını etkinleştir »</a>
            </p>
        </div>
    </div>
    <div class="col-2"></div>
</div>